.img-responsive{
    margin: 0 auto;
}

.strike{
    text-decoration: line-through;
    display: inline;
}img{
    max-height: 200px;
    max-width: 200px;
}img:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
}