<!DOCTYPE html>
<html>
<head>
	<title>
        About Us
    </title>
</head>
<body>
    
    <div class="container-fluid" style="margin-top: 150px;" >
         <img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/History2-1.png?raw=true" class="img-responsive">
    <a href="#"><img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/History2-4.png?raw=true" ></a>
    <img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/sony2.png?raw=true">
        <div class="row" style="background-color: #fafafa;">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <div class="st">
                    <br>&emsp;&emsp;&emsp;And For That<br>We Only Listen To Our Boss<br>&emsp;&emsp;&emsp;And That's You
                </div>
            </div>
            <div class="col-sm-4"><img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/abtus3.jpg?raw=true">    </div>
            
        </div>
      <div class="row" style="background-color: #fafafa;width: 101%;">
        <div class="col-sm-6"><img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/abtus4.jpg?raw=true">    </div>
        <div class="col-sm-6" style="background-color: #3c4145;">
            <div class="st1">
                <br><br><br><br><br>&emsp;&emsp;&ensp;And Without You<br>We Couldn't Bring It Till Here <br>&emsp;&emsp;&emsp;&emsp;Thank You
            </div>
        </div>
      </div>
    </div>

</body>

<div class="footer">
    <div class="first">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="second">
                        <p>Copyright &copy; 2020, All Rights Reserved </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="third">
                        <li><a href="#" style="margin-left: 120px;">GADGET</a></li>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="third">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
