<!DOCTYPE html>
<html>
<head>
	<title>
        About Us
    </title>
</head>
<body>
    
    <div class="container-fluid" >
        <div class="container-fluid">

         <img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/History2.png?raw=true" class="img-responsive">
    </div>
    <div class="container-fluid">
             <img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/sony2.png?raw=true" class="img-responsive">
    </div>

        <div class="container-fluid">
    
             <div class="row" style="background-color: #fafafa;">
                <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <div class="st">
                    <br>&emsp;&emsp;&emsp;And For That<br>We Only Listen To Our Boss<br>&emsp;&emsp;&emsp;And That's You
                </div>
            </div>
            <div class="col-sm-4"><img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/abtus3.jpg?raw=true" class="img-responsive">    </div>
        </div>
            
        </div>

        <div class="container-fluid">

      <div class="row" style="background-color: #fafafa;width: 101%;">
        <div class="col-sm-6"><img src="https://github.com/BommidiDeekshith/AboutUs_Html/blob/master/abtus4.jpg?raw=true" class="img-responsive">    </div>
        <div class="col-sm-6" style="background-color: #3c4145;">
            <div class="st1">
                <br><br><br><br><br>&emsp;&emsp;&ensp;And Without You<br>We Couldn't Bring It Till Here <br>&emsp;&emsp;&emsp;&emsp;Thank You
            </div>
        </div>
        </div>
      </div>
    </div>

</body>

<app-footer></app-footer>

</html>