<div class="container-fluid" style="margin-top: 20px;">
    <nav class="navbar navbar-expand-lg" id="navbar">
      
        <a class="navbar-brand" routerLink=""><img src="https://images-platform.99static.com/zjt0iIOAnqzuU3nh6lzAzTL8LoA=/0x0:1361x1361/500x500/top/smart/99designs-contests-attachments/70/70190/attachment_70190498" height="200px" width="200px"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-item nav-link" id="nav-item" routerLink="">Home</a>
          <a class="nav-item nav-link" id="nav-item" routerLink="">Shop</a>
          <a class="nav-item nav-link" id="nav-item" routerLink="">Aboutus</a>
          
           
            <input type="text" placeholder="Search" id="searchbox" size="60">
            <i class="fa fa-search" style="font-size: 20px; padding-top: 20px; padding-left: 10px; padding-right: 50px;" id="searchicon"></i> 

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" id="nav-item" aria-expanded="false"> <i class="fa fa-user"></i> </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" routerLink="">Sign-in</a>
              <a class="dropdown-item" routerLink="">Sign-up</a>
            </div>
          </div>
          <a class="nav-item nav-link" id="nav-item" style="font-size: 25px;" routerLink=""><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </nav>
  </div>
  