<div class="container" style="padding-top: 10%;" *ngIf = "cartItems.length == 0" >
   <a routerLink="">
    <img src="http://www.lalgulal.com/images/empty-cart1.jpg" class="img-responsive center-block" height="20%" width="20%" style="vertical-align: middle; margin-left: 40%;"><br><br>
    <h1 style="text-align: center;" >!!Your Cart is Empty!!</h1>

   </a> 
    
</div>

<div class="container"  *ngIf="cartItems.length > 0">
    <div class="row">
        <div class="col-md-8">
            <div class="card" *ngFor="let c of cartItems; let i= index" style="height: 120px;">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{c.url}}" height="100%" width="100%">
                    </div>
                    <div class="col-md-8">
                        <p>{{c.title}}</p>
                    </div>
                    <div class="col-md-2">
                        <button class="btn"  (click)="removeItem(i)" ><i class="fa fa-trash" style="font-size:20px;"></i></button>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-warning mg-4" >CheckOut</button>
        </div>
    </div>

</div>
    