<div class="container" id="container">
  
        <form action="#" class=" sign-up-container">
            <h1>Create Account</h1>
            <span>Enter your personal details and start journey with us</span>
            <div class="icons-container">
                <a class="icon" style="color:#3b5998;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="icon" style="color: #db4a39;"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a class="icon" style="color: #00aace;"><i class="fa fa-twitter" aria-hidden="true"></i></a>               
               
                  
            </div>
            <span>or use email for Registration</span>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button id="sign" >Sign Up</button>
        </form>

    </div>